{{> nav-bar}}
<div class="container">

   <div class="row">
      <div class="explore-header">
         <div class="explore-header-text">
            <img class="explore-header-avatar" src="" alt="">
            <div class="explore-header-author-credit">
               <span>Picture by:</span>
               <h6>Name Lastname</h6>
            </div>
            <div class="explore-header-location">
               <img class="location-icon" src="../images/icons/map-marker-alt-solid.svg" />
               <span>Country, City</span>
            </div>
         </div>
         
         <h1>Explore</h1>
         
      </div>
   </div>
   
  
   <div class="row title-row">
      <h2>Hot destinations</h2>
      <a href="/destinations">See all</a>
   </div>
   <div class="row">
      {{> hot-destinations}}
   </div>


   <div class="row title-row">
      <h2>Friend Feed</h2>
      <a href="/friend-feed">See all</a>
   </div>
   <div class="row">
      {{> friend-feed}}
   </div>



   <div class="row title-row">
      <h2>Popular Activities</h2>
      <a href="/activities">See all</a>
   </div>
   <div class="row">
      {{> popular-activities}}
   </div>



   <div class="row title-row">
      <h2>Public Events</h2>
      <a href="/public-events">See all</a>
   </div>
   
   <div class="row">
      {{> public-events}}
   </div>
 

</div>
    
    



