<div class="register-container">
    <div class="column-left">
        <img class="login-logo" src="../../images/icons/Varom-Logo.png" />
        <form action="/users/login" method="post">
            <input class="inner-input" type="text" name="username" />
            <label class="label" for="username">Username</label>
            <input class="inner-input" type="password" name="password" />
            <label class="label" for="password">Password</label>
            <button type="Submit" class="bottom-button" class="register-btn">Login</button>
        </form>
    </div>
    <div class="column-right">

    </div>
</div>

