{{> nav-bar}}
<div class="container">
    <div class="banner-l">
        <!-- Img goes here -->
        <div class="banner-main-text">
            <h1>My Events</h1>
            <div class="banner-location-text">
                <img src="" />
                <span>Current location</span>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="row-title">
            <h2 >Current Event</h2>
        </div>
        <div class="row-main">
            
        </div>
    </div>

    <div class="row">
        <a class="create-new-event-button" href="/myEvents/create">Create new event</a>
    </div><br><br>
   

    <div class="row">
        <div class="row-title">
            <h2>Upcomming Events</h2>
            <a href="">See all ></a>
        </div>
        
        <div class="row-main">
            <ul class="upcoming-events-list">
                {{> upcoming-events}}
            </ul>
        </div>
        
    </div>

    <div class="row">
        <div>
            <h2>Past Events</h2>
            <a href="">See all ></a>
        </div>
    
        <ul>
            <li></li>
        </ul>
    </div>
    
</div>
