<h1>Create Profile</h1>

<form action="/profile/create" method="post">
    <input type="text" name="displayName" placeholder="Display name">
    <textarea type="text-area" name="bio" placeholder="Bio"></textarea>
    <button type="Submit">Create profile</button>
</form>