{{> nav-bar}}
<div class="container">
    <div class="top-banner-tab">
        <div class="row">
            <div>
                <h2>{{username}}</h2>
                <button>Edit Profile</button>
            </div>
            <div>Description here.</div>
        </div>
       
    </div>
    <div class="row">
        <h2>My photos</h2>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="row">
        <h2>My story</h2>
        <ul>
            <li></li>
        </ul>
    </div>
</div>
