{{> nav-bar}}
<div class="container">
    <div class="row">
        <img src="" alt="banner or color" />
    </div>
    <div class="row profile-header">
        <div class="profile-avatar">
            <img src="" alt="avatar/">
        </div>
        <div class="col">
            <div class="row">
                <div class="col profile-display-name">
                    <h2>{{data.displayName}}</h2>
                </div>
                <div class="col">
                    <div class="row profile-edit-button">
                        {{#if data.displayName}}
                        <a class="button" href="/profile/edit">Edit Profile</a>
                        {{else}}
                        <a class="button button-blue" href="/profile/create">Create Profile</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{data.bio}}
                </div>
                <div class="col">
                    <div class="row profile-friend-button ">
                        <a class="button button-blue" href="/profile/add-friends">Add Friends</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row title-row">
        <h2>My story</h2>
    </div>
    <div class="row">
        {{> my-stories}}
    </div>

    <div class="row title-row">
        <h2>My Photos</h2>
    </div>
    <div class="row">
        {{> photos}}
    </div>
    
    
</div>
