{{> nav-bar}}
<div class="container">
    <div class="top-banner-tab">
        <div class="row">
            <div>
                <h2>{{data.displayName}}</h2>
                <a href="/profile/create">Create Profile</a>
            </div>
            <div>{{data.bio}}</div>
        </div>
       
    </div>

    <div>
        <h1>Data</h1>
        {{#each data.events}}
            {{this.title}}<br><br>
        {{/each}}
    </div>

    <div class="row">
        <h2>My photos</h2>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="row">
        <h2>My story</h2>
        <ul>
            <li></li>
        </ul>
    </div>
</div>
