<section class="row">
    {{#each activities}}
        <div class="card">
            {{this.title}}
            {{this.description}}
            Public: {{this.public}}
        </div>
    {{/each}}
</section>