<div class="nav-container">
    <div class="nav-wrapper">
        <img class="nav-logo" src="../images/icons/Varom-Logo.png" />
        <nav class="nav-bar">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" href="/explore">
                        <img class="nav-icon" src="../images/icons/compass-regular.svg" />
                        <div>Explore</div>
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/myPlans">
                        <img class="nav-icon" src="../images/icons/clipboard-regular.svg" />
                        <div>My Plans</div>
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/profile">
                        <img class="nav-icon" src="../images/icons/user-regular.svg" />
                        <div>Profile</div>
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/notifications">
                        <img class="nav-icon" src="../images/icons/bell-regular.svg" />
                        <div>Notifications</div>
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/users/logout">
                        <img class="nav-icon" src="../images/icons/long-arrow-alt-right-solid.svg" />
                        <div>Logout</div>
                    </a>
                </li>
            </ul>
        </nav> 
    </div>
</div>