{{#each activities}}
<div class="pop-act-card">
    <div class="pop-act-img">
        <img src="" />
    </div>
    <div class="pop-act-text">
        <h4>Activity Title</h4>
        <div class="blue-location">
            <img class="location-icon" src="../images/icons/map-marker-alt-solid.svg" />
            <div class="location-name">Country, City</div>
        </div>

        <span>Short desc or some context number</span>

    </div>
</div>
{{/each}}