{{#each activities}}
<div class="public-event-card">
    <div class="public-event-img">
        <img src="" />
    </div>
    <div class="post-text">
        <h4>Post Title</h4>
        <div class="blue-location">
            <img class="location-icon" src="../images/icons/map-marker-alt-solid.svg" />
            <div class="location-name">7 Countries</div>
        </div>
    </div>
    <div class="post-footer">
        <button>Like</button>
        <button>Comment</button>
        <button>Bookmark</button>
    </div>
</div>
{{/each}}