*{
    margin: 0;
    font-family: 'Lato',
    sans-serif;
}
body{
    background: #F1F1F1
}
.container{
    display: block;
    margin: 0 auto;
    width: 964px;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.title-row{
    align-items: center;
    padding: 20px 0;
}
.title-row a {
    flex: 1;
    text-align: right;
}
.title-row h2{
    flex: 1;
    text-align: left;
}
.col{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}
.gutter{
    display: flex;
    width: 20px;
}
.top-banner-tab{
    background: #fff;
}
.row-title {
    display: flex;
    width: 100%;
    padding: 16px 0;
}
.row-title h2{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
.row-title a {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.row-main{
    display: block;
    width: 100%;
}
.row-pad-s{
    padding: 8px 0;
}
.text-align-center{
    text-align: center;
}
.date-head{
    font-weight: 700;
    padding: 12px 0;
    color: grey;
}
.blue-location{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
}
.location-icon{
    padding-right: 4px;
    height: 14px;
}
.location-name{
    color: #5446DB;
    font-weight: 700;
    font-size: 12px;
}